html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100vh;
}

.plus {
  font-size: 1.5em;
  background-color: red;
  position: absolute;
  bottom: 6em;
  right: 1em;
  border-radius: 100%;
}

.hidden {
  font-size: 0.8em;
  visibility: hidden;
  border-radius: 100%;
}

sup {
  background-color: grey;
}

#map {
  background-color: grey;
  width: 100%;
  height: 100%;
}
